﻿<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/loader.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <script type="text/javascript" src="js/libs/jquery.1.11.1.prod.js"></script>
  <script type="text/javascript" src="js/libs/mustache.js"></script>
  <script type="text/javascript" src="js/libs/routie.dev.js"></script>
  <script type="text/javascript" src="js/libs/cheaps.101.js"></script>
</head>
<body>

<div id="main">
</div>

<div id="loading">
    <span class="loader loader-bars">
      <span></span>
    </span>
</div>


<script type="text/cheaps" data-template-name="home-tpl">
  salut je suis le template 'home-tpl' <br>
  dans la div #personnes j itère sur toute les "personnes" que j ai fetch avant
  <br><br>
  <div id="personnes">

  </div>
  <br><br>
  <a href="#/truc">vers truc</a>
</script>

<script type="text/cheaps" data-template-name="truc-tpl">
  salut je suis le template 'truc-tpl'<br>
  ici je vais automatiquement bindé des inputs dans des span <br><br>
  <input type="text" name="inputA" value=""> dans <span id='spanA'></span><br>
  A<input type="checkbox" name="checkboxA" value="value checkbox A"> <br>
  B<input type="checkbox" name="checkboxA" value="value checkbox B"> <br>
  dans <span id="spanB"></span> <br><br>
  A<input type="radio" name="radioA" value="value checkbox A"><br>
  B<input type="radio" name="radioA" value="value checkbox B"><br>
  dans <span id="spanC"></span>
  <br><br><a href="#/">vers home</a>
</script>

<script type="text/cheaps" data-template-name="personnes-row-tpl">
  {{#personnes}}
    |-  <span>{{nom}}</span> <span>{{prenom}}</span><br>
  {{/personnes}}
</script>

<script type="text/javascript" src="js/app.js"></script>

</body>
</html>
